Repository ritscc/soukai-2024-2, pull requests merged in 2025-02, with the labels that each got.

#1 研推の方針ファイル追加
  src/houshin/kensui/01_zentai.tex
  src/houshin/kensui/02_project.tex
  src/houshin/kensui/03_LT.tex
Labels: 方針, 研究推進局

#2 総会文書、渉外の総括
  src/soukatsu/syogai/01_zentai.tex
  src/soukatsu/syogai/02_kyokukaigi.tex
  src/soukatsu/syogai/03_twitter.tex
  src/soukatsu/syogai/04_web.tex
Labels: 総括, 渉外局

#3 システム管理局 総括 作成完了
  src/soukatsu/system/01_zentai.tex
  txt.txt
  txtx.txt
Labels: 総括, システム管理局

#4 総括-全体の全体総括を執筆
  src/soukatsu/zentai/01_zentai.tex
Labels: 総括, 全体

#5 総括-総務を執筆
  src/soukatsu/soumu/01_zentai.tex
Labels: 総括, 総務局

#6 3回生総括を執筆
  src/soukatsu/3kai.tex
Labels: 総括, 回生

#8 2025年度システム管理局春期方針
  src/houshin/system/01_zentai.tex
Labels: 方針, システム管理局

#10 2回生総括を作成
  src/soukatsu/2kai.tex
Labels: 総括, 回生

#11 2回生の来期方針について
  src/houshin/2kai.tex
Labels: 方針, 回生

#12 運営総括の作成
  src/soukatsu/zentai/02_unei.tex
Labels: 総括, 全体

#13 1回生の総括文章を執筆
  src/soukatsu/1kai.tex
Labels: 総括, 回生

#14 1回生の方針文章を執筆
  src/houshin/1kai.tex
Labels: 方針, 回生

#16 方針-総務執筆
  src/houshin/soumu/01_zentai.tex
Labels: 方針, 総務局

#17 方針全体執筆
  src/houshin/zentai/01_zentai.tex
  src/houshin/zentai/02_unei.tex
Labels: 方針, 全体

#18 けんすい総括
  src/soukatsu/kensui/01_zentai.tex
Labels: 総括, 研究推進局

#19 渉外方針
  src/houshin/syogai/01_zentai.tex
  src/houshin/syogai/02_kyokukaigi.tex
  src/houshin/syogai/03_twitter.tex
  src/houshin/syogai/04_web.tex
Labels: 方針, 渉外局

#20 お疲れ様でした
  .github/CODEOWNERS
  README.md
  assignee.yml
  document.tex
  src/01_zentai.tex
  src/hajimeni.tex
  src/houshin/1kai.tex
  src/houshin/2kai.tex
  src/houshin/3kai.tex
  src/houshin/4kai.tex
  src/houshin/kensui/01_zentai.tex
  src/houshin/kensui/02_project.tex
  src/houshin/kensui/03_LT.tex
  src/houshin/soumu/01_zentai.tex
  src/houshin/syogai/01_zentai.tex
  src/houshin/syogai/02_kyokukaigi.tex
  src/houshin/syogai/03_twitter.tex
  src/houshin/syogai/04_web.tex
  src/houshin/system/01_zentai.tex
  src/houshin/zentai/01_zentai.tex
  src/houshin/zentai/02_unei.tex
  src/soukatsu/1kai.tex
  src/soukatsu/2kai.tex
  src/soukatsu/3kai.tex
  src/soukatsu/4kai.tex
  src/soukatsu/kaikei/01_zentai.tex
  src/soukatsu/kensui/01_zentai.tex
  src/soukatsu/soumu/01_zentai.tex
  src/soukatsu/syogai/01_zentai.tex
  src/soukatsu/syogai/02_kyokukaigi.tex
  src/soukatsu/syogai/03_twitter.tex
  src/soukatsu/syogai/04_web.tex
  src/soukatsu/system/01_zentai.tex
  src/soukatsu/zentai/01_zentai.tex
  src/soukatsu/zentai/02_unei.tex
  src/zenki.tex
Labels: 方針, 総括, 全体, 回生, システム管理局, 渉外局, 研究推進局, 総務局
